/* Fichier CSS personnalisé pour le formulaire PersonalInfoForm */

/* Conteneur principal */
.personal-info-form-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Titre du formulaire */
.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Labels des champs */
.personal-info-form label {
  font-weight: bold;
}

/* Champs de saisie */
.personal-info-form .form-control {
  border-radius: 8px;
}

/* Messages d'erreur */
.personal-info-form .invalid-feedback {
  display: block;
  margin-top: 4px;
  color: #dc3545;
}

/* Boutons */
.personal-info-form button {
  margin-right: 10px;
}

.personal-info-form button:first-child {
  margin-right: 0;
}

/* Lien "Connectez-vous" */
.personal-info-form .signin-button {
  color: blue;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 576px) {
  /* Réduire la taille du formulaire sur les petits écrans */
  .personal-info-form-container {
    margin: 10px;
    padding: 10px;
  }
  .form-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
