/* Fichier CSS personnalisé pour le formulaire PreferenceForm */

/* Conteneur principal */
.preference-form-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Titre du formulaire */
.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Labels des champs */
.preference-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Champs de saisie */
.preference-form .form-control {
  border-radius: 20px;
  margin-bottom: 10px;
}

/* Selects de langues */
.preference-form select[name="preferredLanguage"],
.preference-form select[name="secondLanguage"],
.preference-form select[name="thirdLanguage"] {
  border-radius: 20px;
  margin-bottom: 10px;
}

/* Messages d'erreur */
.preference-form .invalid-feedback {
  display: block;
  margin-top: 4px;
  color: #dc3545;
}

/* Range inputs */
.preference-form .form-range {
  width: 100%;
  height: 20px;
  margin-bottom: 10px;
}

.preference-form .range-label {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Alertes */
.preference-form .alert {
  margin-bottom: 20px;
}

/* Boutons */
.preference-form button {
  margin-right: 10px;
}

.preference-form .signin-button {
  color: blue;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Responsive */
@media (max-width: 576px) {
  /* Réduire la taille du formulaire sur les petits écrans */
  .preference-form-container {
    margin: 10px;
    padding: 10px;
  }
  .form-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

/* Conteneur pour le texte et le bouton de connexion */
.preference-form .signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  text-align: center;
}

.preference-form .signin-button {
  color: blue;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: 10px;
}
