.recap-form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 10px;
}

.category-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.buttons-container {
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.signin-link {
  margin-top: 10px;
  text-align: center;
}

.signin-button {
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  color: blue;
}

/* Styles pour les petits écrans */
@media (max-width: 576px) {
  .recap-form-container {
    padding: 10px;
  }

  .category {
    padding: 10px;
  }

  .buttons-container {
    flex-direction: column;
    align-items: stretch;
  }

  .buttons-container button {
    margin-bottom: 10px;
  }
}
