.signin-form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f7f7f7;
}

.signin-form h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.signin-form .form-group {
  margin-bottom: 30px;
}

.signin-form label {
  font-weight: bold;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: 10px;
  color: #555;
}

.signin-form input[type="email"],
.signin-form input[type="password"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
}

.signin-form button[type="submit"] {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.signin-form .signup-link {
  text-align: center;
  margin-top: 20px;
}

.signin-form .signup-link a {
  color: blue;
  text-decoration: underline;
}
