.form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}
Form label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

Form .form-group {
  margin-bottom: 20px;
}

Form .form-control {
  border-radius: 100px;
}

Form button[type="submit"] {
  width: 100%;
  margin-top: 20px;
}

/* Styles pour la barre de progression */
.progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
}

/* Styles pour chaque étape de la barre de progression */
.step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Styles pour le cercle de chaque étape */
.step .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: gray;
  color: #fff;
  font-size: 24px;
  position: relative;
  z-index: 1;
}

/* Styles pour le titre de chaque étape */
.step .title {
  position: absolute;
  top: 60px;
  text-align: center;
  width: 100px;
  font-size: 14px;
  color: gray;
}

/* Styles pour l'étape active */
.step.active .circle {
  background-color: #007bff;
}

.step.active .title {
  color: #007bff;
}

/* Styles pour la ligne de la barre de progression */
.line {
  flex: 1;
  height: 2px;
  background-color: gray;
  position: relative;
  z-index: 0;
}

/* Styles pour la marge négative de la ligne de la barre de progression */
.step:not(:last-child) .line {
  margin-right: -25px;
}

/* Style pour la séparation entre les étapes du formulaire */
hr {
  border: none;
  border-top: 3px solid gray;
}

/* Styles pour la transition entre les étapes du formulaire */
.progress-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  transition: transform 0.5s ease-in-out;
}

.transition {
  width: 70%;
  height: 100%;
}

/* Styles pour les animations de transition */
.transition.slide-in {
  animation: slide-in 0.5s forwards;
  transition: opacity 0.5s ease-in-out;
}

.transition.slide-out {
  animation: slide-out 0.5s forwards;
  transition: opacity 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}


/*alert */

.alert-custom {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 14px;
  border-radius: 100px;
}