.admin-page-container {
    display: flex;
    max-height: 90vh;
    overflow: hidden;
}

.main-content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: auto;
}
.sidebar-container {
    height: 100vh;
    width: 20vh;
    /* Définissez la largeur souhaitée pour la sidebar */
}

.main-content {
    flex-grow: 1;
}