.historique-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historique-title {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.historique-card {
  width: 75%;
  margin-top: 20px;
}

.graph-container {
  max-height: 1000px;
  margin-top: 20px;
}
