.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.home-content {
  text-align: center;
}

.home-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.home-description {
  font-size: 18px;
  margin-bottom: 10px;
}

.home-description:last-child {
  margin-bottom: 20px;
}

.home-content button {
  margin-top: 20px;
}
