/* ProfilPage.css */

.profil-page {
  padding: 20px;
}

.profile-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.profile-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-info {
  font-size: 16px;
  margin-bottom: 5px;
}

/* Media queries pour la mise en page responsive */

@media (max-width: 576px) {
  .profile-card {
    padding: 10px;
  }

  .profile-heading {
    font-size: 20px;
  }

  .profile-info {
    font-size: 14px;
  }
}
