.training-form-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  text-align: center;
}
.training-form {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
}

.training-form h3 {
  margin-bottom: 20px;
}

.training-form .mb-3 {
  margin-bottom: 15px;
}

.training-form label {
  font-weight: bold;
}

.training-form .form-control {
  width: 100%;
}

.training-form .form-text {
  margin-top: 5px;
  font-size: 14px;
}

.training-form .alert {
  margin-top: 20px;
}

.training-form .d-flex {
  justify-content: flex-end;
  margin-top: 20px;
}
