.container-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.container-content {
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card-container {
  display: flex;
}

.graph-card {
  flex: 1;
  margin-right: 10px;
}

.info-card {
  flex: 0.5;
}

.info-card {
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.info-card h4 {
  font-size: 20px;
  margin-bottom: 20px;
}

.niveau {
  margin-bottom: 20px;
}

.niveau h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #738cd5;
}

.niveau ul {
  list-style-type: none;
  padding-left: 0;
}

.niveau li {
  font-size: 16px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  padding: 8px 15px;
  border-radius: 4px;
}

.list-group-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.list-group-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.list-group-item:hover {
  background-color: #f0f0f0;
}

.validated-lo {
  background-color: #00ff00 !important;
  color: #fff;
}

.not-validated-lo {
  background-color: #738cd5 !important;
  color: #fff;
}
