.quiz-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #212121;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
}

/* Style pour la question */
.question {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Style pour les options de réponse */
.options {
  display: flex;
  flex-direction: column;
}

.option-button {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #333333;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.option-button:hover {
  background-color: #007bff;
  border-color: #007bff;
}

.option-button.selected {
  background-color: #007bff;
  border-color: #007bff;
  color: #ffffff;
}

/* Style pour le bouton "Continuer" */
.continue-button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.continue-button:hover {
  background-color: #218838;
}

/* Style pour le récapitulatif du quiz */
.recap-container {
  text-align: left;
  padding: 20px;
}

.recap-container h2 {
  margin-bottom: 20px;
}

.recap-container p {
  margin-bottom: 10px;
}

/* Style pour le conteneur des boutons */
.button-container {
  margin-top: 20px;
}

.quiz-button,
.send-quiz-button {
  padding: 10px 20px;
  background-color: green;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-quiz-button {
  margin-left: 45%;
}

.quiz-button:hover {
  background-color: #c82333;
}

/* Style pour le bouton "Fermer" */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-button:hover {
  background-color: #c82333;
}

/* Style pour le résultat du quiz */
.result {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
.recap-question.incorrect {
  color: red;
}
.recap-question.correct {
  color: green;
}
