.navbar-custom {
  background-color: #343a40;
}

.navbar-custom .navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-custom .nav-link {
  color: #fff;
}

.navbar-custom .nav-link:hover {
  color: #fff;
  opacity: 0.8;
}

.navbar-custom .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.navbar-custom .btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.navbar-custom .text-light {
  color: #fff;
}

.navbar-custom .ml-2 {
  margin-left: 8px;
}
.custom-dropdown .dropdown-menu {
  max-width: 200px;
  right: 0;
  left: auto;
}
.logout-button {
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  padding: 0.5rem;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333;
}

.logout-button:focus {
  outline: none;
}

.logout-button-icon {
  margin-right: 0.5rem;
}
