.create-user-container {
  max-width: 800px;
  margin: 0 auto;
}

.create-user-label {
  font-weight: bold;
}

.create-user-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-user-group {
  margin-bottom: 20px;
}

.create-user-control {
  margin-bottom: 10px;
}

.create-user-feedback {
  display: block;
  color: red;
  margin-top: 5px;
}

.create-user-button {
  width: 200px;
  margin-top: 20px;
}
