.edit-user-container {
  max-width: 800px;
  margin: 0 auto;
}

.edit-user-title {
  text-align: center;
  margin-bottom: 20px;
}

.edit-user-form {
  background-color: lightgray;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-user-label {
  font-weight: bold;
}

.edit-user-control {
  margin-bottom: 10px;
}

.edit-user-group {
  margin-bottom: 20px;
}

.edit-user-buttons {
  margin-top: 20px;
}

.edit-user-button {
  width: 150px;
}
