
.user-management{
    padding: 5%;
    padding-top: 0;
            
    text-align: center;
}
.user-management-title {
    text-align: center;
}

/* ManageUser.css */

@media (max-width: 576px) {

    /* Styles spécifiques pour les écrans de taille inférieure à 576px */
    .user-management-title {
        font-size: 1rem;
    }

    .user-management-controls {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 1rem;
    }

    .user-management-controls .row {
        flex-direction: column;
    }

    .user-management-controls .col-auto {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 577px) {

    /* Styles spécifiques pour les écrans de taille supérieure ou égale à 577px */
    .user-management-title {
        font-size: 1.5rem;
    }

    .user-management-controls .row {
        flex-direction: row;
        align-items: center;
    }

    .user-management-controls .col-auto {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}

@media (max-width: 768px) {

    /* Styles spécifiques pour les écrans de taille inférieure à 768px */
    .user-management-controls .col-auto {
        margin-right: 0;
    }
}

 .user-card{
      border: 1px solid #ddd;
    border-Radius: 5px;
          padding: 10px;
          margin-Bottom: 10px;
  }

  ;